body {
  overflow: hidden;
  padding: 0;
  margin: 0;
}

.svg {
  opacity: 1;
  /* position: absolute; */
  display: none;
}

.thirdoption {
  opacity: 1;
  position: absolute;
  /* display: none; */
}

#bus {
  transform: translate(60.5vw, 27vh);
  position: absolute;
  display: none;
}

#call {
  transform: translate(60.5vw, 27vh);
  position: absolute;
  display: none;
}

#plane {
  transform: translate(60.5vw, 27vh);
  position: absolute;
  display: none;
}
#car {
  transform: translate(23.9vw, 27vh);
  position: absolute;
}

#train {
  transform: translate(42.2vw, 27vh);
  position: absolute;
}
